// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.text-primary {
    color: #FD6E0A;
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-title {
    color: #181818;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    margin-right: 50px;
    color: #474747);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.btn-primary {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 150px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
}