body {
    font-family: "Open Sans";
}


.nav-title {
    color: #181818;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 70px 0px 230px;
}

nav>ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}


nav a {
    text-decoration: none;
    margin-right: 50px;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.text-primary {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 15px 35px;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../Images/header_bg.png'), url('../Images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px 0px 230px;
}

.profile-pic {
    margin-right: 35px;
    margin-bottom: 0px;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-top: 180px;
    margin-bottom: 0px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    border-radius: 10px;
    margin: auto;
}

main section {
    margin-top: 130px;
}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 160px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

#what-i-do-description {
    padding: 0px 150px;
}

.skills-container {
    display: flex;
    gap: 25px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    color: #181818;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}